.input_label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.75rem 0;
  align-items: center;
}

.input_title {
  color: #f76928;
  margin-right: 1.5rem;
}

.input {
  padding-left: 5px;
  height: 2rem;
  width: 70%;
  background: transparent;
  border: 2px solid #ccc;
  /* font-size: 1rem; */
  transition: all 0.5s ease;
  box-sizing: content-box;
}

.input:hover,
.input:focus,
.input:active,
.input:focus-visible {
  outline: 0;
  border: 2px solid #f76928;
  background: #fff;
}

.search_label {
  border-bottom: 3px solid #f76928;
  /* padding: 0.75rem; */
  display: inline-flex;
  align-items: center;
  margin: 0 0 0 15%;
  width: 50%;
}

.search_label svg {
  color: #f76928;
  font-size: 1.2rem;
}

input.search {
  background-color: transparent;
  border: 0;
  padding: 0.75rem;
  line-height: 1.5rem;
  font-size: 1rem;
  width: 100%;
}

input.search:focus {
  outline: 0;
  background-color: transparent;
}

.textArea {
  height: 150px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 13px;
  resize: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 10;
  color: rgba(0, 0, 0, 0.5);
}

input[type="date"] {
  position: relative;
}

input[type="date"]::-webkit-datetime-edit {
  position: relative;
  left: 15px;
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper {
  position: relative;
  left: 15px;
}

::-webkit-datetime-edit-text,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field {
  color: #555;
}

.checkbox_inputs {
  display: flex;
  width: 70%;
}

.checkbox_inputs label {
  width: 50%;
  display: flex;
  align-items: center;
}

.checkbox_inputs .input {
  height: 1.5rem;
  width: 20%;
  margin-right: 0.5rem;
}

label > input[type="checkbox"] {
  display: none;
}

label > input[type="checkbox"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  border-radius: 10%;
  border-style: solid;
  border-width: 2px;
  border-color: #ccc;
  margin-right: 10px;
}

label > input[type="checkbox"]:checked + *::before {
  content: "✓";
  color: white;
  text-align: center;
  background: #f76928;
  border-color: #f76928;
}
label > input[type="checkbox"]:checked + * {
  color: #f76928;
}
.duration {
  display: flex;
  width: 70%;
}

.duration .input[type="number"] {
  width: 20%;
  margin-right: 0.5rem;
}

@media (min-width: 992px) and (max-width: 1112px) {
  .input_label {
    align-items: flex-start;
    flex-direction: column;
  }
  .input {
    width: 100%;
  }

  .duration {
    width: 100%;
  }
  .checkbox_inputs {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .input_label {
    align-items: flex-start;
    flex-direction: column;
  }
  .input {
    width: 100%;
  }

  .duration {
    width: 100%;
  }
  .checkbox_inputs {
    width: 100%;
  }
}
