.card.table.latest_transactions {
  min-width: 700px;
}

.Latest_transactions_text {
  color: #f2693f;
  margin: 2rem 0;
  font-weight: 400;
}

@media only screen and (max-width: 992px) {
  .card.table.latest_transactions {
    min-width: 100%;
  }
  .Latest_transactions_text {
    margin-left: 19px;
  }
}

/*.Latest_transaction {
  /* margin-top: 50px;
  background-color: #f3f3f3;
  max-width: 700px;
  /* border-radius: 20px; 
}

.Latest_transaction h2 {
  color: #f2693f;
  font-weight: 400;
  padding: 10px 0 10px 75px;
  border-bottom: #f2693f solid 1px;
}

.content_cotainer {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #a2a3a3;
}

.content_cotainer:hover {
  background-color: #fff;
}

.table-item-col2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.table-item-col2 p {
  margin-right: 50px;
}

.container a {
  color: #fff;
  text-decoration: none;
  background-color: #f2693f;
  border-radius: 10px;
  padding: 5px 10px;
  display: inline-block;
  margin-left: 575px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 20px;
}

.table-item-col1 p {
  margin-bottom: 10px;
}

.table-item-col1 p:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .Latest_transaction h2 {
    padding: 10px 0 10px 30px;
  }

  .Latest_transaction {
    max-width: 497px;
    margin-left: 8px;
  }

  .Latest_transactions_text {
    margin-left: 19px;
  }
  .container a {
    margin-left: 280px;
  }
} */

.btn-seemore {
  text-decoration: none;
}

.see-more {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
