/* form.form{
    display: inline-flex;
} */
.admin-add {
  justify-content: space-between;
}
/* .main_section {
    display: flex;
    justify-content: end;
} */
a .add-addmin-button {
  width: 125px;
  height: 22px;
}

.form_add {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.admin-content {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
}

.admin-content > div {
  min-width: 50%;
  /* min-width: 500px; */
}

@media (max-width: 992px) {
  .admin-content > div {
    width: 100%;
    min-width: 100%;
  }
  .admin-content {
    flex-direction: column-reverse;
  }
}
