@import url("https://fonts.googleapis.com/css2?family=Blinker&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Blinker", sans-serif;
}

.navbar {
  position: fixed;
  color: #fff;
  z-index:1;
}

.navbar header {
  width: 100vw;
  padding: 1rem;
  background-color: #df4600;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 4px 4px 15px 0px #00000050;
}

.navbar_logo {
  display: flex;
  align-items: center;
}

.sidenav {
  width: 100vw;
  background-color: #df4600;
  position: absolute;
  left: 100%;
  z-index: -1;
  transition: all 0.7s;
}

.sidenav.active {
  left: 50%;
}

.sidenav ul {
  padding: 0;
  margin: 0;
}

.sidenav ul li {
  list-style-type: none;
  margin: 10px 0;
}

.sidenav ul li a,
.sidenav ul li button {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  padding: 0.7rem;
  font-family: "Blinker", sans-serif;
}
button.btn.logout-btn {
  background-color: transparent;
  border: 0;
}

.sidenav ul li a svg,
.sidenav ul li button svg {
  margin-right: 0.5rem;
}

.sidenav ul li:hover,
.sidenav ul li.active {
  border-left: 3px solid #fff;
  background-image: linear-gradient(to right, #ffffff30, #ffffff00);
}

header svg {
  font-size: 30px;
  margin-right: 3rem;
  color: #fff !important;
}

.letter_logo {
  background-color: #fff;
  font-size: 48px;
  width: 48px;
  color: #df4600;
  height: 48px;
  text-align: center;
  line-height: 48px;
  border-radius: 15px;
  margin-right: 1rem;
  box-shadow: 4px 4px 15px 0px #00000015;
}

.name_logo {
  font-size: 2rem;
}

@media screen and (min-width: 992px) {
  .letter_logo {
    font-size: 70px;
    width: 80px;
    height: 70px;
    line-height: 70px;
  }

  .navbar header {
    width: 220px;
    padding: 0;
    height: auto;
    box-shadow: none;
  }
  .navbar_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 20px;
    width: 100%;
  }

  .line_logo {
    width: 100px;
    height: 4px;
    background: #fff;
    margin-top: 1rem;
  }

  .navbar header svg {
    display: none;
  }

  .name_logo {
    padding-top: 1rem;
  }

  .letter_logo {
    margin-right: 0;
  }

  .sidenav {
    left: 0 !important;
    width: 220px;
    height: 95vh;
    box-shadow: 4px 4px 15px 0px #00000015;
  }
}
