.Text-categories {
  color: #f2693f;
  font-weight: 400;
  margin-left: 200px;
}

.container {
  margin-top: 50px;
  background-color: #f3f3f3;
  max-width: 785px;
  border-radius: 20px;
  margin-left: 200px;
}

.Table-header {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px 20px 20px;
  border-bottom: 1px solid #f2693f;
}

.Table-header h2 {
  font-weight: 400;
  color: #a2a3a3;
}

.Table-header h2:nth-child(2) {
  margin-left: 75px;
}

.Table-item {
  padding: 30px 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #a2a3a3;
}

.Table-item p {
  margin-right: 70px;
}

.Table-item h3 {
  font-weight: 300;
}

.Table-item:hover {
  background-color: #fff;
}

.Table-item-actions {
  margin-right: 75px;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 628px;
    margin-left: 62px;
  }

  .Text-categories {
    margin-left: 50px;
  }
  .Table-header h2:nth-child(2),
  .Table-item p {
    display: none;
  }

  .Table-header h2:first-child {
    margin-left: 60px;
  }
  .Table-header h2:last-child {
    margin-left: 246px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 504px;
    margin-left: 46px;
  }

  .Table-item-actions {
    margin-right: 65px;
  }

  .Table-header h2:last-child {
    margin-left: 70px;
  }
}
