.form {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  align-items: flex-end;
}

.AiOutlineClose {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.2rem;
  color: #f76928;
  cursor: pointer;
}

.input_add {
  height: 1.5rem;
  border: none;
  border-top: 1px solid #f76928;
  border-left: 1px solid #f76928;
}

.input_add:active {
  border: none;
}

.submit-category {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding-top: 20px;
}

.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f76928;
  width: 100%;
}

.FromAddCategory {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories .form {
  position: relative;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
}

.radio label {
  margin-left: 2rem;
}

@media (max-width: 767px) {
  .submit-category {
    align-items: flex-start;
    flex-direction: column;
  }
  .form {
    align-items: center;
  }
}

@media (max-width: 575px) {
  .categories .form {
    flex-direction: column;
  }
}
